:root{
    /*Font family*/
    --title: 'Montserrat', sans-serif;
    --parragraph: 'Lato', sans-serif;
    /*Font size*/
    --big: 2.0rem;
    --big-two: 2.2rem;
    --medium: 1.8rem;
    --medium-two: 1.6rem;
    --small: 1.4rem;
    --small-two: 1.2rem;
    /*colors*/
    --yellow: #ffff00;
    --yellowTwo: #fce307;;
    --blue: #2196f3;
    --blueTwo: #0059ff;
    --green: #74f400;
    --greenTwo: #50d603;
    --orange: #ff8000;
    --orangeTwo:#c07f05;
    --greenDark: #009846;
    --gray: aliceblue;
    --black: #1A1A1B;
}

main{
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/********************* UNIVERSALS  *********************/

p{
    font-size: var(--medium-two);
    line-height: 3rem;
    color: var(--black);
    margin-top: 1rem;
}

li{
    list-style: none;
    font-size: var(--medium-two);
}

.pTitle{
    font-family: var(--title);
    font-size: var(--big);
    font-weight: 800;
    color: var(--greenTwo);
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

strong{
    color: var(--blueTwo);
}

strong:nth-of-type(3n+1):hover{
    color: var(--greenDark);
}

strong:nth-of-type(3n+2):hover{
    color: var(--orange);
}

strong:nth-of-type(3n+3):hover{
    color: var(--yellowTwo);
}

a{
    font-size: var(--medium-two);
    line-height: 3rem;
    color: var(--black);
}
/********************* MINI NAVBAR  *********************/
.mini-nav-bar {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 1rem;
    
}

.mini-nav-bar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mini-nav-bar ul li{
    display: inline-block;
    padding: 5px;
}

.mini-nav-bar ul li a{
    font-family: var(--parragraph);
    font-size: var(--small);
    color: var(--black);
    border-radius: 20rem;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    border-width: 1px;
    gap: 20px;
}

.mini-nav-bar ul li a:hover{
    background-color: gray;
    color: white;
}

.mini-nav-bar ul li a:active{
    background-color: var(--black);
    color: white;
}
/********************* PROFILE PICTURE  *********************/

.profile-picture {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}

.profile-picture img {
    width: 70%;
}

.profile-picture img:hover{
    width: 80%;
}
/********************* PROFILE PARRAGRAPH  *********************/
.profile-parragraph{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

/********************* EDUCATION  *********************/

.education-section{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.education-info-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.education-info {
    display: flex;
    flex-flow: row wrap;
    width: 40rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.education-info img{
    width: 140px;
    margin-right: 4rem;
}

.education-info img:hover{
    width: 150px;
}

.education-info ul li:first-child{
    font-size: var(--medium);
    font-weight: 600;
    margin-bottom: 0.2rem;
    color: var(--blueTwo);
}

.education-info ul li:first-child:hover{
    color: var(--greenDark);
}

.education-info ul li a:hover{
    color: var(--greenDark);
}

/********************* WORK EXPERIENCE  *********************/

.work-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.work-info{
    margin-top: 2rem;
    padding: 4rem;
    border-radius: 1rem;
    background: linear-gradient(45deg,transparent 14%, #abffd2 15%, #abffd2 20%, transparent 21%, transparent 79%, #abffd2  80%, #abffd2 85%, transparent 86%),linear-gradient(135deg,transparent 14%, #abffd2 15%, #abffd2 20%, transparent 21%, transparent 79%, #abffd2  80%, #abffd2 85%, transparent 86%), radial-gradient(transparent 14%, #abffd2 15%, #abffd2 25%, transparent 26%);
        background-size: 2em 2em;
}

.work-info:hover{
    background: var(--gray);
}

.work-info ul li:first-child {
    font-size: var(--medium);
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.work-info ul li:nth-child(2) {
    font-size: var(--medium-two);
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.work-info ul li:nth-child(3) {
    font-size: var(--medium-two);
    margin-bottom: 0.2rem;
}

.work-info ul li p:first-child{
    margin-top: 0.9rem;
}

.work-info ul li p{
    margin-top: 0;
    line-height: 2rem;
    font-size: var(--small);
}

.work-info ul li p::before{
    content: "\2713     ";
    font-weight: 800;
}

/********************* HABILITIES AND VALUES  *********************/

.habilities-section, .values-section{
    display: flex;
    flex-flow: column wrap;
}

.habilities-info, .value-info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 1rem;
    background: linear-gradient(45deg,transparent 14%, #c2edff 15%, #c2edff 20%, transparent 21%, transparent 79%, #c2edff  80%, #c2edff 85%, transparent 86%),linear-gradient(135deg,transparent 14%, #c2edff 15%, #c2edff 20%, transparent 21%, transparent 79%, #c2edff  80%, #c2edff 85%, transparent 86%), radial-gradient(transparent 14%, #c2edff 15%, #c2edff 25%, transparent 26%);
        background-size: 2em 2em;
}

.habilities-info:hover, .value-info:hover{
    background: var(--gray);
}

.habilities-info div:nth-of-type(1), .value-info div:nth-of-type(1){
    width: 20%;
    border-radius: 1rem;
}

.hability, .value{
    font-family: var(--title);
    font-size: var(--medium);
    font-weight: 600;
    color: black;
}

.habilities-info ul li:before{
    content: "\2713     ";
    font-weight: 800;
}

.habilities-info div:nth-of-type(2), .value-info div:nth-of-type(2){
    width: 70%;
    border-radius: 1rem;
}

/********************* LANGUAGES  *********************/

.languages-section{
    display: flex;
    flex-flow: column wrap;
}

.language-info-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.language-info{
    display: flex;
    flex-flow: column wrap;
    width: 40rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.language-info div:first-child p{
    font-family: var(--title);
    font-size: var(--medium);
    font-weight: 600;
}

.language-info div:first-child{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.language-info img{
    width: 140px;
}

.language-info img:hover{
    width: 145px;
}

/********************* RETURN  *********************/
.return{
    text-align: right;
}

.return a{
    font-family: var(--parragraph);
    font-size: var(--small-two);
    color: var(--black);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3rem;
    border-style: solid;
    border-width: 1px;
}

.return a:hover{
    background-color: gray;
    color: white;
}

.return a:active{
    background-color: var(--black);
    color: white;
}

/********************* MEDIA QUERIES  *********************/

@media screen and (max-width: 750px) {
    .habilities-info, .value-info{
        display: flex;
        flex-flow: column wrap;
  }

  .habilities-info div:nth-of-type(1), .value-info div:nth-of-type(1){
    display: flex;
    width: 100%;
}

.hability, .value{
    margin-left: auto;
    margin-right: auto;
  }

.habilities-info div:nth-of-type(2), .value-info div:nth-of-type(2){
    width: 100%;
}

.language-info{
    width: 100%;
}

}

