:root{
    /*Font family*/
    --title: 'Montserrat', sans-serif;
    --parragraph: 'Lato', sans-serif;
    /*Font size*/
    --big: 2.0rem;
    --big-two: 2.2rem;
    --medium: 1.8rem;
    --medium-two: 1.6rem;
    --small: 1.4rem;
    --small-two: 1.2rem;
    /*colors*/
    --yellow: #ffff00;
    --yellowTwo: #fce307;;
    --blue: #2196f3;
    --blueTwo: #0059ff;
    --green: #74f400;
    --greenTwo: #50d603;
    --orange: #ff8000;
    --orangeTwo:#c07f05;
    --greenDark: #009846;
    --grey: aliceblue;
    --black: #1A1A1B;
    --babypowder: #f8f8f8;
    --shadow: #08070838 0rem 0.1rem 0.4rem
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
    color: var(--black); 
    background-color: var(--grey);
}

strong{
    color: var(--blueTwo);
}

body{
    font-size: 1.6rem;
}

/********************NAVBAR*********************/

header{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    border-bottom: rgba(61, 61, 61, 0.075) solid 0.1rem;
}

.navContainer{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/*LOGO*/

.navContainer .navContainer_logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content:end;
    height: 2.5rem;
}

.navContainer .navContainer_logo img{
    height: 2.5rem;
}

.navContainer .navContainer_logo img:hover{
    transform: scale(1.01);
}

.navContainer .navContainer_logo img:active{
    transform: scale(1);
}

/*MENU ITEMS*/

.navContainer_menuitems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border-radius: 1.3rem;
}

.navContainer_menuitems:hover{
    background-color: rgba(128, 128, 128, 0.11);
    transition: 0.4s;
}

.navContainer_menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

.navContainer_menu a{
    text-decoration: none;
    color: var(--black);
    margin: 0 0.4rem;
    cursor: pointer;
}

.navContainer_menu a:hover{
    font-weight: bold;
    color: var(--blue);
}

.navContainer_menu a:active{
    transform: scale(0.95);
}

.navContainer_menu--selected{
    border-bottom: solid 0.2rem var(--blue);
}

/*LANGUAGE*/
.navContainer_language{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.navContainer_language--mainimage {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
}

.navContainer_language:hover .navContainer_language--mainimage{
    transform: scale(1.06);
}

.navContainer_language:hover .navContainer_language--items{
    display: flex;
}

.navContainer_language--items{
    position: absolute;
    top: 2rem;
    display: none;
    flex-flow: column nowrap;
    list-style: none;
    width: fit-content;
    background-color: var(--grey);
    padding: 0.6rem;
    border-radius: 0rem 0rem 1.3rem 1.3rem;
    border-bottom: solid 0.1rem rgba(61, 61, 61, 0.075);
    border-left: solid 0.1rem rgba(61, 61, 61, 0.075);
    border-right: solid 0.1rem rgba(61, 61, 61, 0.075);
    z-index: 3;
}

.navContainer_language--items li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    margin: 0.5rem 0rem;
    font-size: 1.6rem;
}

.navContainer_language .navContainer_language--items li:hover{
    font-weight: bold;
}

.navContainer_language .navContainer_language--items li:hover img{
    transform: scale(1.08);
}

.navContainer_language .navContainer_language--items li:active{
    font-weight: bold;
    transform: scale(0.95);
}

.navContainer_language--items li img{
    width: 2rem;
    margin-right: 0.6rem;
}


/*THEME*/

.navContainer_theme{
    margin-left: 2rem;
    width: 2rem;
    cursor: pointer;
}

.navContainer_theme:hover{
    transform: scale(1.08);
}

.navContainer_theme:active{
    transform: scale(1.04);
}

/*MENU ICON*/

.navContainer_menuicon{
    display: none;
    height: 2.5rem;
    filter: invert(100%);
    cursor: pointer;
}

.navContainer_menuicon:hover{
    transform: scale(1.08);
}

.navContainer_menuicon:active{
    transform: scale(1.04);
}
 /*LOGO SMALL VERSION */

.navContainer_menuitems--logo{
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-content:end;
    height: 2.5rem;
}

.navContainer_menuitems--logo img{
    height: 2.5rem;
}

.navContainer_menuitems--logo img:hover{
    transform: scale(1.01);
}

.navContainer_menuitems--logo img:active{
    transform: scale(1);
}

.navContainer_closeicon{
    filter: invert(100%);
    width: 1.5rem;
    display: none;
    cursor: pointer;
}

.navContainer_closeicon:hover{
    transform: scale(1.01);
}

.navContainer_closeicon:active{
    transform: scale(1);
}

/********************* CHAT SECTION *********************/

.chatContainer{
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

/*Contact information*/

.chatContainer .chatContainer_contactInformation{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    padding: 0 1rem 1rem 1rem;
}

.chatContainer_contactInformation--email {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    cursor: pointer;
    padding: 0.2rem 1rem;
}

.chatContainer_contactInformation--email p{
    margin-right: 0.6rem;
    opacity: 0.6   
}

.chatContainer_contactInformation--email:hover {
    border: solid 0.1rem rgba(61, 61, 61, 0.075);
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 1.3rem;
    transform: scale(1.03);
}

.chatContainer_contactInformation--email:hover p{
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.chatContainer_contactInformation--email:active {
    transform: scale(1);
}

.chatContainer_contactInformation--social{
    padding: 0.2rem 1rem;
}

.chatContainer_contactInformation--social:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.11);
    border: solid 0.1rem rgba(61, 61, 61, 0.075);
    border-radius: 1.3rem;
    transform:scale(1.03);
}

.chatContainer_contactInformation--social:hover .chatContainer_contactInformation--img{
   transform:scale(1.04);
   transition: 0.2s;
}


.chatContainer_contactInformation--social:active{
    transform: scale(0.9);
}

.chatContainer_contactInformation--social:active .chatContainer_contactInformation--img{
    transform: scale(0.9);
}

.chatContainer_contactInformation--img{
    height: 1.6rem;
}

/*Messages*/

.chatContainer_messages{
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    height: 80%;
    padding: 0.6rem;
    border-radius: 1.3rem 1.3rem 0 0 ;
    background-image: url("../images/index/patronblack.svg");
    border: solid 0.1rem rgba(61, 61, 61, 0.158);
    overflow-y: auto;   
}

.chatContainer_messages::-webkit-scrollbar {
    display: none;
}

.welcomemessage{
    opacity: 1;
    transition: 0.4s;
}

div#welcomemessage ul {
    list-style: none;
    margin-left: 3rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}

div#welcomemessage ul li{
    list-style: none;
    margin-left: 3rem;
    background-color: #CCCCCC;
}

.welcomemessage ul li::before{
    content: "✅ ";
}

.welcomemessage--title{
    margin: 1rem 0rem;
    font-weight: bolder;
    color: var(--blueTwo);
    animation: example 5s ease-in-out 0.4s 1 normal both running;
}


@keyframes example {
    25%  {color:var(--greenDark)}
    50%  {color:var(--orangeTwo)}
    75%  {color:var(--yellowTwo)}
    100% {color:var(--blueTwo)}
  }

.systemmessage{
    background-color: #CCCCCC;
    color: #010C0E;
    max-width: 80%;
    border-radius: 0rem 2rem 2rem 2rem;
    width: fit-content;
    padding: 2rem;
    margin-bottom: 1rem;
}

.usermessage{
    background-color: var(--blue);
    color: black;
    max-width: 80%;
    border-radius: 2rem 0rem 2rem 2rem;
    width: fit-content;
    padding: 2rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}


.chatContainer_messages p{
    line-height: 1.4;
}


/*Education message*/

.chatContainer_messages .messageEducation strong {
    color: var(--black);
    padding: 0.4rem;
    border-top: solid 0.1rem rgba(61, 61, 61, 0.397);
}

/*Skills message*/


.chatContainer_messages .messageSkills ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0rem;
}

.chatContainer_messages .messageSkills ul li {
    list-style: none;
    margin: 0.5rem;
    padding: 0.4rem 1rem;
    border-radius: 1.3rem;
    border: solid 0.1rem rgba(61, 61, 61, 0.397);
    background-color: rgba(65, 190, 248, 0.945);
}

/*Work Experience message*/

.chatContainer_messages .messageWorkExperiece strong {
    color: var(--black);
    font-weight: bolder;
}

.chatContainer_messages .messageWorkExperiece strong + p{
    font-weight: bolder;
}

.chatContainer_messages .messageWorkExperiece ul {
    list-style: none;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    font-size: 1.4rem;
}

.chatContainer_messages .messageWorkExperiece ul li::before{
    content: "💠 ";
}

/*Language message*/

.chatContainer_messages .messageLanguage div{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item{
    display: flex;
    flex-flow: column nowrap;
    width: 12rem;
    margin: 0.8rem;
    align-items: center;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item img{
    width: 4rem;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item img + p{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0.8rem 0;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item p{
    text-align: center;
}

/*Options section*/

.chatContainer_input{
    width: 90%;
    height: 20%;
    margin-top: 0.4rem;
    overflow: auto;   
    padding: 0.6rem;
    border-radius: 0 0 1.3rem 1.3rem ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
}

.chatContainer_input--option{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey);
    margin: 0.3rem;
    padding: 0rem 1.4rem;
    border-radius: 1.3rem;
    cursor: pointer;
}

.chatContainer_input--option:hover{
    background-color: var(--blue);
    color: var(--black);
    border-color: var(--black);
}

.chatContainer_input--option:active{
    background-color: var(--blue);
    transform: scale(0.9);
}

.chatContainer_input::-webkit-scrollbar{
    width: 0.4rem;
}

.chatContainer_input::-webkit-scrollbar-track {
    background: var(--grey);
    border-radius: 1.3rem;
}
  
  /* Handle */
  .chatContainer_input::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 2rem;
  }
  


/********************* MEDIA QUERIES *********************/

@media screen and (max-width: 1007px) {
    
  }

@media screen and (max-width: 768px) {
    .navContainer_menuicon{
        display: block;
    }

    .navContainer_menuitems{
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        background-color: var(--grey); 
        z-index: 1000; 
        display: none;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    .navContainer_menuitems:hover{
        background-color: var(--grey);
    }

    .navContainer{
        justify-content: space-between;
    }

    .navContainer_menuitems--logo{
        display: flex;
    }

    
    .navContainer_menu{
        flex-flow: column;
    }

    .navContainer_menu a{
        margin-top: 2rem;
    }

    .navContainer_language--mainimage{
        display: none;
        
    }

    .navContainer_language--items{
        display: flex;
        flex-flow: column wrap;
        border: solid 0.2rem rgba(61, 61, 61, 0.075);
        border-radius: 1.3rem;
        padding: 0.6rem;
        position: static;
    }

    .navContainer_theme{
        display: flex;
    }

    .navContainer_closeicon{
        display: flex;
        position: absolute;
        top: 4%;
        right: 4%;
    }
  }