:root{
    /*Font family*/
    --title: 'Montserrat', sans-serif;
    --parragraph: 'Lato', sans-serif;
    /*Font size*/
    --big: 2.0rem;
    --big-two: 2.2rem;
    --medium: 1.8rem;
    --medium-two: 1.6rem;
    --small: 1.4rem;
    --small-two: 1.2rem;
    /*colors*/
    --yellow: #ffff00;
    --yellowTwo: #fce307;;
    --blue: #2196f3;
    --blueTwo: #0059ff;
    --green: #74f400;
    --greenTwo: #50d603;
    --orange: #ff8000;
    --orangeTwo:#c07f05;
    --greenDark: #009846;
    --grey: aliceblue;
    --black: #020d0f;
    --babypowder: #E0E0E0;
    --shadow: #08070838 0rem 0.1rem 0.4rem
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
    color: var(--babypowder); 
    background-color: var(--black);
}

strong{
    color: var(--blueTwo);
}

body{
    font-size: 1.6rem;
}

/********************NAVBAR*********************/

header{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    border-bottom: rgba(177, 177, 177, 0.075) solid 0.1rem;
    position: fixed;
    top: 0%;
    background-color: var(--black);
    z-index: 100;
}

.navContainer{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/*LOGO*/

.navContainer .navContainer_logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content:end;
    height: 2.5rem;
}

.navContainer .navContainer_logo img{
    height: 2.5rem;
}

.navContainer .navContainer_logo img:hover{
    transform: scale(1.01);
}

.navContainer .navContainer_logo img:active{
    transform: scale(1);
}

/*MENU ITEMS*/

.navContainer_menuitems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border-radius: 1.3rem;
}

.navContainer_menuitems:hover{
    background-color: rgba(177, 175, 175, 0.11);
    transition: 0.4s;
}

.navContainer_menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

.navContainer_menu a{
    text-decoration: none;
    color: var(--grey);
    margin: 0 0.4rem;
    cursor: pointer;
}

.navContainer_menu a:hover{
    font-weight: bold;
    color: var(--blue);
}

.navContainer_menu a:active{
    transform: scale(0.95);
}

.navContainer_menu--selected{
    border-bottom: solid 0.2rem var(--blue);
}

/*LANGUAGE*/
.navContainer_language{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.navContainer_language--mainimage {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
}

.navContainer_language:hover .navContainer_language--mainimage{
    transform: scale(1.06);
}

.navContainer_language:hover .navContainer_language--items{
    display: flex;
}

.navContainer_language--items{
    position: absolute;
    top: 2rem;
    display: none;
    flex-flow: column nowrap;
    list-style: none;
    width: fit-content;
    background-color: var(--black);
    padding: 0.6rem;
    border-radius: 0rem 0rem 1.3rem 1.3rem;
    border-bottom: solid 0.1rem rgba(145, 145, 145, 0.075);
    border-left: solid 0.1rem rgba(145, 145, 145, 0.075);
    border-right: solid 0.1rem rgba(145, 145, 145, 0.075);
    z-index: 100;
}

.navContainer_language--items li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    margin: 0.5rem 0rem;
    font-size: 1.6rem;
}

.navContainer_language .navContainer_language--items li:hover{
    font-weight: bold;
}

.navContainer_language .navContainer_language--items li:hover img{
    transform: scale(1.08);
}

.navContainer_language .navContainer_language--items li:active{
    font-weight: bold;
    transform: scale(0.95);
}

.navContainer_language--items li img{
    width: 2rem;
    margin-right: 0.6rem;
}


/*THEME*/

.navContainer_theme{
    margin-left: 2rem;
    width: 2rem;
    cursor: pointer;
    filter:invert(100%)
}

.navContainer_theme:hover{
    transform: scale(1.08);
}

.navContainer_theme:active{
    transform: scale(1.04);
}

/*MENU ICON*/

.navContainer_menuicon{
    display: none;
    height: 2.5rem;
    cursor: pointer;
}

.navContainer_menuicon:hover{
    transform: scale(1.08);
}

.navContainer_menuicon:active{
    transform: scale(1.04);
}
 /*LOGO SMALL VERSION */

.navContainer_menuitems--logo{
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-content:end;
    height: 2.5rem;
    
}

.navContainer_menuitems--logo img{
    height: 2.5rem;
}

.navContainer_menuitems--logo img:hover{
    transform: scale(1.01);
}

.navContainer_menuitems--logo img:active{
    transform: scale(1);
}

.navContainer_closeicon{
    width: 1.5rem;
    display: none;
    cursor: pointer;
}

.navContainer_closeicon:hover{
    transform: scale(1.01);
}

.navContainer_closeicon:active{
    transform: scale(1);
}

/********************* CHAT SECTION *********************/

.chatContainer{
    height: 90vh;
    padding-top: 10vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*Contact information*/

.chatContainer .chatContainer_contactInformation{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    padding: 0 1rem 1rem 1rem;
}

.chatContainer_contactInformation--email {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    cursor: pointer;
    padding: 0.2rem 1rem;
    
}

.chatContainer_contactInformation--email img{
    filter: invert(90%);
}

.chatContainer_contactInformation--email p{
    margin-right: 0.6rem;
    opacity: 0.6;
    color: var(--grey)
}

.chatContainer_contactInformation--email:hover {
    border: solid 0.1rem rgba(204, 204, 204, 0.075);
    background-color: rgba(199, 197, 197, 0.103);
    border-radius: 1.3rem;
    transform: scale(1.03);
}

.chatContainer_contactInformation--email:hover p{
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.chatContainer_contactInformation--email:active {
    transform: scale(1);
}

.chatContainer_contactInformation--social{
    padding: 0.2rem 1rem;
    
}

.chatContainer_contactInformation--social img{
    filter:invert(90%)
}

.chatContainer_contactInformation--social:hover{
    cursor: pointer;
    background-color: rgba(199, 197, 197, 0.103);
    border: solid 0.1rem rgba(204, 204, 204, 0.075);
    border-radius: 1.3rem;
    transform:scale(1.03);
}

.chatContainer_contactInformation--social:hover .chatContainer_contactInformation--img{
   transform:scale(1.04);
   transition: 0.2s;
}


.chatContainer_contactInformation--social:active{
    transform: scale(0.9);
}

.chatContainer_contactInformation--social:active .chatContainer_contactInformation--img{
    transform: scale(0.9);
}

.chatContainer_contactInformation--img{
    height: 1.6rem;
}

/*Messages*/

.chatContainer_messages{
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    height: 80%;
    padding: 0.6rem;
    border-radius: 1.3rem 1.3rem 0 0 ;
    background-image: url("../images/index/patronultrawhite.svg");
    border: solid 0.1rem rgba(187, 187, 187, 0.158);
    overflow-y: auto;   
}

.chatContainer_messages::-webkit-scrollbar {
    display: none;
}

.welcomemessage{
    opacity: 1;
    transition: 0.4s;
}

div#welcomemessage ul {
    list-style: none;
    margin-left: 3rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}

div#welcomemessage ul li{
    list-style: none;
    margin-left: 3rem;
}

.welcomemessage ul li::before{
    content: "✅ ";
}

.welcomemessage--title{
    margin: 1rem 0rem;
    font-weight: bolder;
    color: var(--blue);
    animation: example 5s ease-in-out 0.4s 1 normal both running;
}

@keyframes example {
    25%  {color:var(--greenDark)}
    50%  {color:var(--blueTwo)}
    75%  {color:var(--blue)}
    100% {color: black}
  }

.systemmessage{
    background-color: var(--babypowder);
    color: black;
    max-width: 80%;
    border-radius: 0rem 2rem 2rem 2rem;
    width: fit-content;
    padding: 2rem;
    margin-bottom: 1rem;
}

.usermessage{
    background-color: var(--blue);
    color: black;
    max-width: 80%;
    border-radius: 2rem 0rem 2rem 2rem;
    width: fit-content;
    padding: 2rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}


.chatContainer_messages p{
    line-height: 1.4;
}


/*Education message*/

.chatContainer_messages .messageEducation strong {
    color: black;
    padding: 0.4rem;
    border-top: solid 0.1rem rgba(61, 61, 61, 0.397);
}

/*Skills message*/


.chatContainer_messages .messageSkills ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0rem;
}

.chatContainer_messages .messageSkills ul li {
    list-style: none;
    margin: 0.5rem;
    padding: 0.4rem 1rem;
    border-radius: 1.3rem;
    border: solid 0.1rem rgba(61, 61, 61, 0.397);
    background-color: var(--blue);
}

/*Work Experience message*/

.chatContainer_messages .messageWorkExperiece strong {
    color: black;
    font-weight: bolder;
}

.chatContainer_messages .messageWorkExperiece strong + p{
    font-weight: bolder;
}

.chatContainer_messages .messageWorkExperiece ul {
    list-style: none;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    font-size: 1.4rem;
}

.chatContainer_messages .messageWorkExperiece ul li::before{
    content: "💠 ";
}

/*Language message*/

.chatContainer_messages .messageLanguage div{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item{
    display: flex;
    flex-flow: column nowrap;
    width: 12rem;
    margin: 0.8rem;
    align-items: center;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item img{
    width: 4rem;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item img + p{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0.8rem 0;
}

.chatContainer_messages .messageLanguage .cvresponse_languages--item p{
    text-align: center;
}

/*Options section*/

.chatContainer_input{
    width: 90%;
    height: 20%;
    margin-top: 0.4rem;
    overflow: auto;   
    padding: 0.6rem;
    border-radius: 0 0 1.3rem 1.3rem ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blue);
}

.chatContainer_input--option{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-weight: bolder;
    margin: 0.3rem;
    padding: 0rem 1.4rem;
    border-radius: 1.3rem;
    cursor: pointer;
}

.chatContainer_input--option:hover{
    background-color: var(--babypowder);
    color: black;
    border-color: black;
}

.chatContainer_input--option:active{
    background-color: var(--grey);
    transform: scale(0.9);
}

.chatContainer_input::-webkit-scrollbar{
    width: 0.4rem;
}

.chatContainer_input::-webkit-scrollbar-track {
    background: var(--grey);
    border-radius: 1.3rem;
}
  
.chatContainer_input::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 2rem;
  }
  
/********************* PROJECTS SECTION VERSION TWO *********************/

.projetsContainer{
    min-height: 90vh;
    width: 90%;
    margin: 0 auto;
    padding-top: 10vh;
}

.projetsContainer_filter--title{
    margin-left: 1rem;
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
}

/*Filter part*/
.projetsContainer_filter{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.projetsContainer_filter--instruction{
    font-size: 1.8rem;
    font-weight: bolder;
    margin-right: 1rem;
    min-width: 18rem;
}

.projetsContainer_filter--options{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: calc(100vw-18rem);
    margin-bottom: 1rem;
}

.projetsContainer_filter--options::-webkit-scrollbar{
    height: 0.8rem;
}

.projetsContainer_filter--options::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.123);
    border-radius: 1.3rem;
}
  
.projetsContainer_filter--options::-webkit-scrollbar-thumb {
    background: var(--babypowder);
    border-radius: 2rem;
}

.projetsContainer_filter--options img{
    width: 4rem;
    padding: 0.5rem;
    border-radius: 1.3rem;
    margin: 0.8rem;
    cursor: pointer;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background-color: var(--babypowder);
    filter: invert(10%);
}

.projetsContainer_filter--options img:hover{
    width: 4.3rem;
    filter: invert(0%);
    background-color: var(--blue);
    transition: 0.2s;
}

.projetsContainer_filter--options img:active{
    width: 4.1rem;
    transition: 0.2s;
}

.projetsContainer_filter--options .projetsContainer_filter--options--selected {
    filter: invert(0%);
    background-color: var(--blue);
    border: none;
}

/*Projects card*/

.projetsContainer_projetscards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.projetsContainer_item{
    display: flex;
    flex-flow: column nowrap;
    width: 35rem;
    height: 30rem;
    align-items: center;
    padding: 1rem;
    transition: 0.3s;
    margin: 1rem;
    border-radius: 1.3rem;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(var(--shadow));
    transition: 0.3s;
    border: solid 0.1rem rgba(245, 245, 245, 0.466);
    background-color: rgba(245, 245, 245, 0.466);
}

.projetsContainer_item:hover{
    transform: scale(1.06);
    padding: 0;
    border: none;
    transition: 0.3s;
}

.projetsContainer_item--cover{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    display: none;
}

.projetsContainer_item--description{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    background-size: 35rem;
    border-radius: 1.3rem;
    padding: 0.3rem;
    position: relative;
}

.projetsContainer_item:hover .projetsContainer_item--description{
    border: solid 0.1rem rgba(255, 255, 255, 0.288);
    transition: 0.3s;
}


.projetsContainer_item--description .projetsContainer_item--description--title{
    font-size: 2.5rem;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    filter: drop-shadow(var(--shadow));
    color: var(--grey);
    max-height: 6rem;
    overflow-y: hidden;
    position: absolute;
    top: 0rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetsContainer_item--description .projetsContainer_item--description--technology{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0;
    font-size: 1.4rem;
    max-height: 6rem;
    overflow-y: scroll;
    position: absolute;
    top: 5.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}


.projetsContainer_item--description .projetsContainer_item--description--technology li{
    border: solid var(--grey) 0.1rem;
    border-radius: 1.3rem;
    padding: 0.2rem 0.8rem;
    margin: 0.3rem 0;
    color: var(--grey);
    filter: drop-shadow(var(--shadow));
}

.projetsContainer_item:hover .projetsContainer_item--description--technology li{
    background-color: var(--grey);
    color: var(--black);
    transition: 0.3s;
}

.projetsContainer_item--description--text{
    text-align: center;
    font-weight: bold;
    color: var(--grey);
    max-height: 7rem;
    overflow-y: scroll;
    position: absolute;
    top: 13rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.projetsContainer_item--description--technology::-webkit-scrollbar,.projetsContainer_item--description--text::-webkit-scrollbar {
    width: 0.3rem;
}

.projetsContainer_item--description--technology::-webkit-scrollbar-track,.projetsContainer_item--description--text::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.123);
    border-radius: 1.3rem;
}
  
.projetsContainer_item--description--technology::-webkit-scrollbar-thumb, .projetsContainer_item--description--text::-webkit-scrollbar-thumb {
    background: var(--babypowder);
    border-radius: 2rem;
}

.projetsContainer_item--links{
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    justify-content: space-evenly;
    top: 21rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--babypowder);
    border-radius: 1.3rem;
    padding: 0.4rem;
}

.projetsContainer_item--links a{
    margin: 0 1rem;
}

.projetsContainer_item--links a:hover{
    transform: scale(1.06);
    transition: 0.3s;
}

.projetsContainer_item--links a:active{
    transform: scale(1.02);
}


.projetsContainer_item--links a img{
    height: 5rem;
    filter:drop-shadow(var(--shadow));
}


.projetsContainer_projetscards--instructions{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 8rem auto;
}


/********************* BLOGS SECTION *********************/
.blogContainer{
    min-height: 95vh;
    width: 100%;
    margin: 0 auto;
    padding-top: 3vh;
}

.blogContainer h2{
    margin-left: 1rem;
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
    color: var(--grey);
}

.blogContainer_filter{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
}

.blogContainer_filter--instruction{
    font-size: 1.8rem;
    font-weight: bolder;
    min-width: 18rem;
    color: var(--grey);
}

.blogContainer_filter--options{
    display: flex;
    flex-flow: row nowrap;
}

.blogContainer_filter--options img{
    width: 3.5rem;
    margin: 0 1rem;
    cursor: pointer;
    filter: drop-shadow(var(--shadow));
}

.blogContainer_filter--options img:hover{
    transform: scale(1.06);
}

.blogContainer_filter--options img:active{
    transform: scale(1.03);
}

/* BLOG POST*/

.blogContainer_cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 1rem;
}

.blogContainer_cards--post{
    width: 49%;
    padding: 1rem;
    border: solid 0.1rem rgba(255, 255, 255, 0.418);
    filter: drop-shadow(var(--shadow));
    border-radius: 1.3rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: var(--title);
    font-weight: bolder;
    color: var(--grey);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.blogContainer_cards--postInfo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blogContainer_cards--postTitle{
    margin-bottom: 1rem;
}

.blogContainer_cards--postInfo img{
    height: 1.5rem;
}

.selectedPostLanguage{
    border: solid 0.2rem var(--blue);
    border-radius: 0.6rem;
}

.blogContainer_cards--postLink{
    position: absolute;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 100%;
    background-color: var(--blue);
    right: 0%;
    color: var(--grey);
}

.blogContainer_cards--postLink img{
    width: 2rem;
    filter: invert(95%);
}

.blogContainer_cards--post:hover{
    background-color: var(--babypowder);
    transform: scale(1.06);
    transition: 0.3s;
    
}

.blogContainer_cards--post:active{
    background-color: var(--babypowder);
    transform: scale(1.03);
    transition: 0.3s;
}

.blogContainer_cards--post:hover .blogContainer_cards--postLink{
    display: flex;
}

.blogContainer_cards--post:hover .blogContainer_cards--postInfo{
    width: calc(100% - 6rem);
    transition: 0.3s;
    color: black;
}

/*********************** CONTACT CONTAINER ***********************/

.contactContainer[open]{
    position: fixed;
    margin: auto;
    inset: 0;
    background-color: var(--black);
    color: var(--grey);
    width: 80vw;
    min-height: fit-content;
    padding: 1rem;
    border-radius: 1.3rem;
    border: solid 0.1rem rgba(255, 255, 255, 0.164);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

dialog::backdrop {
    background-color: #5d6c79d2;
    background-image: url('../images/index/patronwhite.svg');
    background-size: 12rem;
}

.contactContainer_closeimg{
    height: 2rem;
    position: absolute;
    top: 3%;
    right: 1%;
    cursor: pointer;
}

.contactContainer_closeimg:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.contactContainer_closeimg:active{
    transform: scale(1);
    transition: 0.2s;
}

.contactContainer h2{
    font-size: 2.5rem;
    margin: 2rem 0;
}

.contactContainer_item{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.contactContainer_item label{
    width: 10rem;
    font-weight: bolder;
}

.contactContainer_item input, .contactContainer_item textarea{
    width: calc(100% - 10rem);
    max-width: calc(100% - 10rem);
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 1.3rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.164);
    background-color: var(--babypowder);
}

.contactContainer_item textarea{
    min-height: 8rem;
    max-height: 10rem;
    margin-bottom: 4rem;
}

.contactContainer_button{
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--babypowder);
    border-radius: 0 0 1.2rem 1.2rem;
    cursor: pointer;
    color: black;
    font-size: 2rem;
}

.contactContainer_button img{
    width: 2.5rem;
    margin-left: 1rem;
}

.contactContainer_button:hover{
    background-color: var(--blue);
    transition: 0.3s;
}

.contactContainer_button:hover p, .contactContainer_button:hover img {
    transform: scale(1.08);
    transition: 0.3s;
}

.contactContainer_button:active p, .contactContainer_button:active img{
    transform: scale(1);
    transition: 0.2s;
}

/********************* SYSTEM ALERTS MESSAGES *********************/
.messagesContainer{
    position: fixed;
    z-index: 121;
    top: 5rem;
    right: 3rem;
    width: 50rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.messagesContainer_success{
    background-color: var(--greenTwo);
    padding: 1rem;
    max-width: 50%;
    margin-bottom: 1rem;
    border-radius: 1.3rem 1.3rem 0 1.3rem;
    color: var(--black);
    font-weight: bolder;
}

.messagesContainer_error{
    background-color: red;
    padding: 1rem;
    max-width: 50%;
    margin-bottom: 1rem;
    border-radius: 1.3rem 1.3rem 0 1.3rem;
    color: var(--black);
    font-weight: bolder;
}

/********************* MEDIA QUERIES *********************/

@media screen and (max-width: 1007px) {
    
  }

@media screen and (max-width: 768px) {
    .navContainer_menuicon{
        display: block;
    }

    .navContainer_menuitems{
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        background-color: var(--black);
        z-index: 1000; 
        display: none;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    .navContainer_menuitems:hover{
        background-color: var(--black);
    }

    .navContainer{
        justify-content: space-between;
    }

    .navContainer_menuitems--logo{
        display: flex;
    }

    
    .navContainer_menu{
        flex-flow: column;
    }

    .navContainer_menu a{
        margin-top: 2rem;
    }

    .navContainer_language--mainimage{
        display: none;
        
    }

    .navContainer_language--items{
        display: flex;
        flex-flow: column wrap;
        border: solid 0.2rem rgba(61, 61, 61, 0.075);
        border-radius: 1.3rem;
        padding: 0.6rem;
        position: static;
    }

    .navContainer_theme{
        display: flex;
    }

    .navContainer_closeicon{
        display: flex;
        position: absolute;
        top: 4%;
        right: 4%;
    }


    .chatContainer_messages .messageEducation strong {
        border: none
    }


    .blogContainer_cards--post{
        width: 98%;
    }
  }