:root{
    /*Font family*/
    --title: 'Montserrat', sans-serif;
    --parragraph: 'Lato', sans-serif;
    /*Font size*/
    --big: 2.0rem;
    --big-two: 2.2rem;
    --medium: 1.8rem;
    --medium-two: 1.6rem;
    --small: 1.4rem;
    --small-two: 1.2rem;
    /*colors*/
    --yellow: #ffff00;
    --yellowTwo: #fce307;;
    --blue: #2196f3;
    --blueTwo: #0059ff;
    --green: #74f400;
    --greenTwo: #50d603;
    --orange: #ff8000;
    --orangeTwo:#c07f05;
    --greenDark: #009846;
    --gray: aliceblue;
    --black: #1A1A1B;
}

/********************* INTRODUCTION PARRAGRAPH *********************/

main {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.introduction-parragraph {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
}

.introduction-parragraph p, .introduction-parragraph a {
    font-size: var(--medium-two);
    line-height: 3rem;
}

.introduction-parragraph div:first-child {
    margin-left: auto;
    margin-right: auto;
}

.introduction-parragraph div:first-child a {
    font-family: var(--title);
    font-size: var(--big-two);
    color: var(--black);
    font-weight: 600;
}

.introduction-parragraph div:first-child a:hover {
    color: var(--blueTwo);
    transition: 0.2s;
}

.introduction-parragraph div:first-child a:active {
    color: var(--yellowTwo);
    font-weight: 600;
    
}

/********************* PROJECTS SECTION *********************/

.projects-card-container {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-card-info {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    padding: 2rem;
    background: linear-gradient(45deg,transparent 14%, #9cfcc8 15%, #9cfcc8 20%, transparent 21%, transparent 79%, #9cfcc8  80%, #9cfcc8 85%, transparent 86%),linear-gradient(135deg,transparent 14%, #9cfcc8 15%, #9cfcc8 20%, transparent 21%, transparent 79%, #9cfcc8  80%, #9cfcc8 85%, transparent 86%), radial-gradient(transparent 14%, #9cfcc8 15%, #9cfcc8 25%, transparent 26%);
    background-size: 2rem 2rem;
}

.project-card-info:hover {
    background: linear-gradient(45deg,transparent 14%, #9cfcc775 15%, #9cfcc775 20%, transparent 21%, transparent 79%, #9cfcc775  80%, #9cfcc775 85%, transparent 86%),linear-gradient(135deg,transparent 14%, #9cfcc775 15%, #9cfcc775 20%, transparent 21%, transparent 79%, #9cfcc775  80%, #9cfcc775 85%, transparent 86%), radial-gradient(transparent 14%, #9cfcc775 15%, #9cfcc775 25%, transparent 26%);
    background-size: 2rem 2rem;
}

.project-card-info-cover {
    width: 20%;
}

.project-card-info-cover img{
    width: 100%;
    border-radius: 50%;
    filter: drop-shadow(0rem 0rem 0.5rem var(--black));
}


.project-card-info-data {
    width: 70%;
    margin-left: 3rem;
}

.project-card-info-data p, .project-card-info-data ul li, .project-card-info-data a {
    font-size: var(--medium-two);
    line-height: 3rem;
}

.project-card-info-data p:nth-of-type(1){
    font-family: var(--title);
    font-size: var(--big);
    font-weight: 600;
    color: var(--greenTwo);
    margin-bottom: 1rem;
}

.project-card-info-data p:nth-of-type(2){
    margin-bottom: 1rem;
}

.project-card-info-data p:nth-of-type(3){
    font-size: var(--small);
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0;
}

.project-card-info-data a {
    color: var(--blue);
    font-weight: 600;
}

.project-card-info-data a:hover {
    color: var(--blueTwo);
}

.project-card-info-data a:active {
    font-weight: 400;
    color: var(--blue);
}

.project-card-info-tech ul {
    display: flex;
    flex-flow: row wrap;
}

.project-card-info-tech ul li {
    list-style: none;
    margin-right: 1rem;
    padding: 0 1rem;
    background-color: var(--blue);
    border-radius: 1rem;
}

.project-card-info-tech ul li:nth-of-type(3n+1):hover{
    background-color: var(--yellow);
    color: var(--black);
    transition: 0.4s;
}

.project-card-info-tech ul li:nth-of-type(3n+2):hover{
    background-color: var(--orange);
    color: var(--black);
    transition: 0.4s;
}

.project-card-info-tech ul li:nth-of-type(3n+3):hover{
    background-color: var(--green);
    color: var(--black);
    transition: 0.4s;
}

/********************* MEDIA QUERIES  *********************/

@media screen and (max-width: 750px) {
    .project-card-info {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        padding: 1rem;
        align-items: center;
    }

    .project-card-info-data {
        width: 100%;
        margin: 1rem;
    }

    .project-card-info-cover {
        width: 30%;
    }
    
    
}