.collection{
    padding: 12px;
}

.messagesBox{
    position: absolute;
    top: 14%;
    right: 2%;
}

.errorMessage{
    background-color: #ffd740 ;
    padding: 10px ;
    border-radius: 18px ;
}

.successMessage{
    background-color: #00bfa5 ;
    padding: 10px ;
    border-radius: 18px ;
}

.container .collection h2{
    font-size: 35px;
    text-align: center;
}

.goHomeLink{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    background-color: rgb(94, 214, 250);
    border-radius: 50%;
    max-height: 30px;
}

.goHomeLink img{
    width: 30px;
}

.goHomeLink p{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 13px;
    display: none;
}

.goHomeLink:hover{
    transform: scale(1.03);
    border-radius: 13px;
    transition: 0.2s;
}

.goHomeLink:hover p{
    display: flex;
}